* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: cursive;
}

button {
  cursor: pointer;
  padding: 5px;
  border: none;
  border-radius: 5px;
  box-shadow: 3px 4px 5px 2px rgba(0, 0, 0, 0.6);
  transition: color 0.1s, background-color 1s;
}

body {
  padding: 20px;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  background: linear-gradient( to left bottom,
    rgba(227, 115, 224, 0.532),
    rgba(231, 136, 157, 0.71),
    rgba(153, 205, 50, 0.745),
    rgba(147, 213, 15, 0.825)
  );
}

main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.leader-board-wrap {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

.recent-scores {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.refresh-scores-btn:hover {
  background-color: #c37c88bc;
  border: 2px solid rgba(255, 255, 255, 0.692);
  box-shadow: 3px 4px 5px 2px rgba(0, 0, 0, 0.6);
  color: white;
}

.leader-board {
  list-style: none;
  width: 100%;
  min-height: 60px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  backdrop-filter: blur(5px);
  border-radius: 5px;
  box-shadow: 1px 3px 2px 1px rgba(0, 0, 0, 0.6);
}

.even {
  background-color: #cf259169;
}

.reset-btn:hover {
  background-color: #a9dc51;
  border: 2px solid rgba(255, 255, 255, 0.692);
  color: black;
  font-weight: 500;
}

.user-info {
  font-size: 1rem;
  font-family: cursive;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 5px;
  width: 100%;
  cursor: pointer;
  border-bottom: 1px solid  lightgray;
}

.info-collection-wrap {
  width: 45%;
}

.submit-form {
  width: 70%;
  max-width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.5rem;
  backdrop-filter: blur(50px);
}

.submit-form input {
  padding: 5px;
  border: 1px solid lightgray;
  border-radius: 5px;
  outline: none;
  box-shadow: 1px 3px 2px 1px rgba(0, 0, 0, 0.6);
}

input[type="submit"] {
  transition: background-color 1s;
}

input[type="submit"]:hover {
  cursor: pointer;
  background-color: #c37c88;
  border: 2px solid rgba(255, 255, 255, 0.692);
  box-shadow: 3px 4px 5px 2px rgba(0, 0, 0, 0.6);
  color: white;
}